<div class="division-group">
    <div id="article-heading" class="division top">
        <div>
            {{breadcrumbs}}
            <h1>{{category.name}}</h1>
        </div>
    </div>
</div>

<div class="article-container">

    {{#each sections}}
        <div class="card category-section">
            <div class="header">{{name}}</div>
            <div class="content">
                {{#if articles}}
                    <ul>
                        {{#each articles}}
                            <li><a href="{{url}}">{{title}}</a></li>
                        {{/each}}
                    </ul>
                {{/if}}
            </div>
        </div>
    {{else}}
        <i class="category-empty">
            <a href="{{category.url}}">{{t 'empty'}}</a>
        </i>
    {{/each}}

    <div class="cta icon-question">
        <div class="header">¿Tienes más dudas?</div>
        <div class="content">
            <p>Estamos aquí para ayudarte.</p>
        </div>
        <a href="/hc/es-es/requests/new" class="button primary no-shadow">Crea un ticket</a>
    </div>
</div>