<div id="main-content" class="error-page">
    <h1>{{t 'oops'}}</h1>

    {{#is error 'unauthorized'}}
        <p>Debes de iniciar sesión para acceder a esta página.</p>
        <p>{{link 'sign_in'}}</p>
    {{/is}}

    {{#is error 'forbidden'}}
        <p>{{t 'not_authorized'}}</p>
    {{/is}}

    {{#is error 'not_found'}}
        <p>{{t 'nonexistent_page'}}</p>
        <p>{{t 'mistyped_address_or_moved_page'}}</p>
    {{/is}}

    <div class="back-to-homepage">
        {{#link 'help_center'}}
            {{t 'back_to_homepage'}}
        {{/link}}
    </div>

</div>
