<div class="hero">
    <h1>¿En qué podemos <span class="highlight">ayudarte?</span></h1>
    <p>Consulta nuestra wiki para encontrar respuestas a tus preguntas.</p>
    {{search submit=false instant=settings.instant_search class='search-form'}}
</div>

<div class="division-group">
    <div id="categories" class="division secondary bottom">
        <h2>Categorías destacadas:</h2>
        <div class="categories">
            {{#each categories}}
                <a href='{{url}}' class="folder category-{{name}}">
                    <div class="title">{{name}}</div>
                    <div class="content">{{description}}</div>
                </a>
            {{/each}}
        </div>
    </div>

    <div class="division bottom">
        <div>
            <section class="section home-section activity">
                {{recent_activity}}
            </section>

            <div class="cta icon-question">
                <div class="header">¿Tienes más dudas?</div>
                <div class="content">
                    <p>Estamos aquí para ayudarte.</p>
                </div>
                <a href="/hc/es-es/requests/new" class="button primary no-shadow">Crea un ticket</a>
            </div>
        </div>
    </div>
</div>
