<div class="division-group" id="request-list-heading">
    <div id="list-request-heading" class="division top">
        <div>
            <h1>Mis tickets</h1>

            {{#form 'requests_filter'}}
                <div class="filters">
                    <div id="area-filter">
                        <label for="request-filter">Filtro</label>
                        <select class="textfield" id="request-filter">
                            {{#each filters}}
                                <option value="{{url}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div id="area-status">
                        <label for="request-status-select">Estado</label>
                        {{select 'status' id='request-status-select' class='textfield'}}
                    </div>

                    <div id="area-search">
                        <label for="quick-search">Buscar un ticket</label>
                        {{input 'query' id='quick-search' type='search' class='textfield'}}
                    </div>

                    <div id="area-submit">
                        <button type="submit" class="button button-primary">Buscar ticket</button>
                    </div>
                </div>
            {{/form}}

        </div>
    </div>
</div>

<div id="request-list-content" class="division-group">
    <div id="list-request" class="division bottom">
        {{#unless requests}}
            <div id="no-search-results" class="card">
                {{#if query}}
                    <div class="header">
                        No se encontraron tickets que coincidan con su búsqueda
                    </div>
                    <div class="content">
                        <p>Prueba a buscar algo diferente.</p>
                        <p>También puedes ir a la <a href="https://soporte.vadavo.com/hc/es-es">página de inicio del
                            centro de ayuda</a> o <a href="https://soporte.vadavo.com/hc/es-es/requests/new">abrir un
                            ticket</a>.</p>
                    </div>
                {{else}}
                    <div class="header">
                        No hay ningún ticket abierto a su nombre
                    </div>
                    <div class="content">
                        <p>Puedes ir a la <a href="https://soporte.vadavo.com/hc/es-es">página de inicio del centro de
                            ayuda</a> o <a href="https://soporte.vadavo.com/hc/es-es/requests/new">abrir un ticket</a>.
                        </p>
                    </div>
                {{/if}}
            </div>
        {{else}}
            <div id="list-request">
                {{#each requests}}
                    <div class="request-item">
                        <a class="title" href="{{url}}">{{subject}}</a>
                        <div class="updated-at">Actualizado {{date updated_at timeago=true}}</div>
                        <div class="tags">
                            <div class="id"><strong>#{{id}}</strong></div>
                            <div class="status {{status}}">{{status_name}}</div>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/unless}}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let filterSelector = document.getElementById('request-filter');

        filterSelector.value = document.location.pathname;

        filterSelector.addEventListener('change', function (e) {
            document.location.href = e.target.value;
        });
    });
</script>