<div class="division-group" id="request-list-heading">
    <div id="list-request-heading" class="division top">
        <div>
            <h1>Mis tickets</h1>

            {{#form 'requests_filter'}}
                <div class="filters">
                    <div id="area-filter">
                        <label for="request-filter">Filtro</label>
                        <select class="textfield" id="request-filter">
                            {{#each filters}}
                                <option value="{{url}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div id="area-status">
                        <label for="request-status-select">Estado</label>
                        {{select 'status' id='request-status-select' class='textfield'}}
                    </div>

                    <div id="area-search">
                        <label for="quick-search">Buscar un ticket</label>
                        {{input 'query' id='quick-search' type='search' class='textfield'}}
                    </div>

                    <div id="area-submit">
                        <button type="submit" class="button button-primary">Buscar ticket</button>
                    </div>
                </div>
            {{/form}}

        </div>
    </div>
</div>

<div id="request-list-content" class="division-group">
    <div id="list-request" class="division bottom">
        {{#unless requests}}
            <div id="no-search-results" class="card">
                {{#if query}}
                    <div class="header">
                        No se encontraron tickets que coincidan con su búsqueda
                    </div>
                    <div class="content">
                        <p>Prueba a buscar algo diferente.</p>
                        <p>También puedes ir a la <a href="https://soporte.vadavo.com/hc/es-es">página de inicio del
                            centro de ayuda</a> o <a href="https://soporte.vadavo.com/hc/es-es/requests/new">abrir un
                            ticket</a>.</p>
                    </div>
                {{else}}
                    <div class="header">
                        No hay ningún ticket abierto a su nombre
                    </div>
                    <div class="content">
                        <p>Puedes ir a la <a href="https://soporte.vadavo.com/hc/es-es">página de inicio del centro de
                            ayuda</a> o <a href="https://soporte.vadavo.com/hc/es-es/requests/new">abrir un ticket</a>.
                        </p>
                    </div>
                {{/if}}
            </div>
        {{/unless}}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let filterSelector = document.getElementById('request-filter');

        filterSelector.value = document.location.pathname;

        filterSelector.addEventListener('change', function (e) {
            document.location.href = e.target.value;
        });
    });
</script>

<!-- Original template -->
<div class="container">

    <div class="requests">
        {{#if requests}}
            <table class="table my-activities-table requests-table {{current_filter.identifier}}-requests">
                <thead>
                    <tr>
                        <th>{{t 'subject'}}</th>
                        <th>{{t 'id'}}</th>
                        <th>
                            {{#is current_filter.identifier 'my'}}
                                {{#link 'requests' sort_by='created_at'}}{{t 'created'}}{{/link}}
                            {{else}}
                                {{t 'requester'}}
                            {{/is}}
                        </th>
                        <th>{{#link 'requests' sort_by='updated_at'}}{{t 'last_activity'}}{{/link}}</th>
                        <th>
                            {{t 'status'}}
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {{#each requests}}
                        <tr {{#is status 'closed'}} class="request-closed" {{/is}}>
                            <td class="request-info requests-table-info">
                                <a href="{{url}}" class="striped-list-title" title="{{subject}}">
                                    {{#if subject}}
                                        {{subject}}
                                    {{else}}
                                        {{excerpt description characters=50}}
                                    {{/if}}
                                </a>

                                <!-- Visible on mobile -->
                                <div class="requests-table-meta">
                                    <span class="meta-data">#{{id}}</span>
                                    <span class="meta-data">{{date created_at timeago=true}}</span>
                                    <span class="status-label status-label-request status-label-{{status}}"
                                          title="{{status_description}}">
                                        {{status_name}}
                                    </span>
                                </div>
                            </td>
                            <td>#{{id}}</td>
                            <td>
                                {{#is ../current_filter.identifier 'my'}}
                                    {{date created_at timeago=true}}
                                {{else}}
                                    {{requester.name}}
                                {{/is}}
                            </td>
                            <td>{{date updated_at timeago=true}}</td>
                            <td class="requests-table-status">
                  <span class="status-label status-label-request status-label-{{status}}"
                        title="{{status_description}}">
                      {{status_name}}
                  </span>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}
    </div>

    {{pagination}}
</div>
