<div class="division-group" id="request-heading">
    <div class="division top">
        <h1>{{request.subject}}</h1>
        <div class="request-tags">
            <div class="id"><strong>#{{request.id}}</strong></div>
            <div class="updated-at">Actualizado {{date request.updated_at timeago=true}}</div>
            <div class="status {{request.status}}">{{request.status_name}}</div>
        </div>
    </div>
</div>

<div class="division-group" id="request-comments">
    {{#each comments}}
        <div class="division bottom {{#if author.agent}}secondary{{/if}}">
            <div class="comment-item">
                <div class="metadata">
                    <div class="author-name"><strong>{{author.name}}</strong></div>
                    <div class="author-avatar">
                        {{#if author.agent}}
                            <img src="{{author.avatar_url}}" alt="Avatar de {{author.name}}" class="user-avatar"/>
                        {{/if}}
                    </div>
                    <div class="author-role {{#if author.agent}}agent{{else}}customer{{/if}}">{{#if author.agent}}
                        Agente{{else}}Cliente{{/if}}</div>
                    <div class="date">{{date created_at timeago=true}}</div>
                </div>
                <div class="body">
                    {{body}}
                </div>
            </div>
        </div>
    {{/each}}

    <div class="division bottom" id="add-comment">
        {{#form 'comment' class='comment-form hbs-form'}}
            <div class="comment-container">
                <div class="comment-fields {{#validate 'body'}}shown{{/validate}}">
                    {{#if help_center.request_ccs_enabled}}
                        <div class="comment-ccs form-field">
                            {{token_field 'ccs' class='textfield'}}
                        </div>
                    {{/if}}

                    {{wysiwyg 'body' rows='7'}}

                    <div class="comment-attachments" style="margin-top: 1em;">
                        {{upload}}
                    </div>
                </div>

                <div class="controls">
                    {{input type='submit' class="button primary" value="Enviar comentario"}}
                </div>
            </div>
        {{/form}}

        {{pagination}}
    </div>
</div>
