<div class="hero">
    <h1>¿En qué podemos <span class="highlight">ayudarte?</span></h1>
    <p>Consulta nuestra wiki para encontrar respuestas a tus preguntas.</p>
    {{search submit=false instant=settings.instant_search class='search-form'}}
</div>

{{#if results}}
    <div class="division-group">
        <div id="search-result" class="division bottom">
            <div>
                <h2>
                    {{#is current_filter.identifier 'unified'}}
                        {{#if content_tag_filters }}
                            {{#each (filter content_tag_filters on="selected" equals=true)}}
                                {{t 'results_content_tag' content_tag=name count=../results_count}}
                            {{/each}}
                        {{else}}
                            {{t 'results' query=query count=results_count}}
                        {{/if}}
                    {{else}}
                        {{#if content_tag_filters }}
                            {{#each (filter content_tag_filters on="selected" equals=true)}}
                                {{t 'results_content_tag' content_tag=name count=../results_count}}
                            {{/each}}
                        {{else}}
                            {{#unless current_subfilter.identifier}}
                                {{t 'results' query=query count=results_count}}
                            {{else}}
                                {{t 'results_with_scope' query=query count=results_count
                                    scope_name=current_subfilter.name}}
                            {{/unless}}
                        {{/if}}
                    {{/is}}
                </h2>

                <div class="results">
                    {{#each results}}
                        <article>
                            <a class="title" href="{{url}}">{{title}}</a>
                            <p>{{text}}</p>
                        </article>
                    {{/each}}
                </div>

                {{pagination}}
            </div>
        </div>
    </div>
{{else}}
    <div id="no-search-results" class="card">
        <div class="header">
            Intenta buscar algo diferente
        </div>
        <div class="content">
            <p>Lamentablemente, tu búsqueda no ha dado ningún resultado.</p>
            <p>También puedes ir a la <a href="https://soporte.vadavo.com/hc/es-es">página de inicio del centro de ayuda</a> o <a href="https://soporte.vadavo.com/hc/es-es/requests/new">abrir un ticket</a>.</p>
        </div>
    </div>
{{/if}}